    !!!5  
    %html  
      %head  
        %meta{"charset" : 'UTF-8'}  
        %title fuck   
        %link{"rel":"stylesheet", "href":"css/reveal.css"}  
        %link{"rel":"stylesheet", "href":"css/theme/black.css","id":"theme"}  
        %link{"rel":"stylesheet", "href":"lib/css/zenburn.css"}


      %body  
        .reveal  
          .slides
            %section
              %section  
                %h1 s3df  
                %h3 快寫HTML靜態網頁  
                %p 用左右鍵移動、Escape鍵瀏覽全部  
              %section 
                  %h1 page2
            %section
              %h1 123

      %script{"src":"lib/js/head.min.js"}  
      %script{"src":"js/reveal.js"}  

      %script
        Reveal.initialize({
          controls: true,
          progress: true,
          history: true,
          center: true,
          transition: 'slide', 
          dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true },
            { src: 'plugin/notes/notes.js', async: true }
          ]
        });